<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bob Report - Intro</title>
  <%= asset_tags %>
</head>
<body>
  <div id="intro">
    <img src="img/bob.jpg" class="bob">
    <div class="content">
      <p>Wazaaaaaaap!</p>

      <p>Here's my report for <a href="<%= web_client_url %>"><%= web_client_url %></a>.
         Click on any feature to your left to see more details
         about which specific parts passed or failed.</p>

      <p>
        <ul>
          <li><strong><%= total_completed_features %> out of <%= total_features %></strong> features passed.</li>
          <% if total_undefined_features > 0 %>
            <li><strong><%= total_undefined_features %></strong> features don't have corresponding test specs yet.</li>
          <% else %>
            <li>All features are fully spec'd out.</li>
          <% end %>
        </ul>
      </p>

      <p>Some hints regarding the colors:</p>
      <dl class="dl-horizontal">
        <dt><span class="label label-success">Green</span></dt>
        <dd>Passed. Woohoo!</dd>
        <dt><span class="label label-important">Red</span></dt>
        <dd>Failed. Booooo</dd>
        <dt><span class="label label-info">Blue</span></dt>
        <dd>Skipped, usually because the previous step failed</dd>
        <dt><span class="label">Gray</span></dt>
        <dd>Means the underlying test scripts are not yet defined</dd>
      </dl>
    </div>
  </div>
</body>
</html>
